<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
  </head>
  <body>
  <%  if(whatDay === "Saturday" || whatDay === "Sunday"){ %>
    <h1 style="color: green">Sup, <%=whatDay%> Peoples!</h1>
<%  } else { %>
    <h1 style="color: red">Sup, <%=whatDay%> Peoples!</h1>
<%  } %>
  </body>
</html>
